
/* Обнуление */
*, *:before,*:after{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html, body{
  min-height: 100vh;
  font-family: Roboto, Montserrat, sans-serif; /*Lato нет кириллицы*/
}
body{
  display: flex;
  flex-direction: column;
}
a{
  text-decoration: none;
}

.main{
  flex-grow: 1;
  background: #272733;
}

.footer{
  flex-grow: 0;
}

.container{
  max-width: 1173px;
  margin: 0 auto;
  padding: 0px 10px;
}

.header{
  width: 100%;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 50;
  background: rgba(16, 16, 29, 0.9);
}

.header__body{
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.menu__list a{
  color: #fff;
  margin-left: 50px;
}

.banner{
  width: 100%;
  height: 100%;
}

.text__slider{
  position: absolute;
  top: 15%;
  left: 5%;
}

.title__slider{
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  text-transform: uppercase;
  padding-bottom: 41px;
}
.title__slider span{
  color: #43ABF0;
}

.description__slider{
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}
.description__slider span{
  font-weight: bold;
}

.buttonSl{
  display: flex;
}

.button__slider1{
background: #43ABF0;
border: 1px solid #FFFFFF;
color: #fff;
}

.button__slider2{
background: #fff;
border: 1px solid #272733;
color: #272733;
}

.button__slider1, .button__slider2{
  display: flex;
  justify-content: center;
  width: 183px;
  height: 42px;
  text-align: center;
  align-items: center;
  font-weight: normal;
  font-size: 13px;
  line-height: 64px;
  box-sizing: border-box;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  border-radius: 5px;
  margin: 85px 26px 0 0;
}

.backPic img{
  width: 100%;
  height: 100%;
  object-fit: ;
}

.content{
  background-image: url(img/Vector.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 793px;
  background-position: top center;
}

.titleH1, .titleH2{
  display: flex;
  justify-content: center;
  color: #fff;
}

.titleH1{
  font-weight: 800;
  font-size: 36px;
  line-height: 64px;
}

.titleH1 span{
  color: #43ABF0;
}

.titleH2{
  font-weight: normal;
  font-size: 18px;
  line-height: 64px;
  padding-bottom: 78px;
}

.text__content{
  padding-top: 107px;
}

/*.order{
  display: flex;
  justify-content: space-around;
}

.order a{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 98px;
  min-height: 98px;
  background: linear-gradient(45deg,#43ABF0,#43ABF0,#000);
  border: 3px solid #286690;
  background-size: 300% 300%;
  text-align: center;
  font-size: 37px;
  line-height: 2.4;
  border-radius: 100%;
  color: #fff;
  transition: all 0.3s ease;
}*/

.order{
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: 100px 130px 100px 130px 100px 130px 100px 130px 100px;
  
}
.order2{
  display: grid;
  grid-template-rows: 40px 20px;
  color: #fff;
  text-align: center;
  align-content: center;
  padding-top: 20px;
}

.order img{
 display: flex;
 justify-content: center;
 align-content: center;
 align-items: center;
}
.order a{
  display: grid;
  justify-content: center;
  align-items: center;
  min-width: 98px;
  min-height: 98px;
  background: linear-gradient(45deg,#43ABF0,#43ABF0,#000);
  border: 3px solid #286690;
  background-size: 300% 300%;
  text-align: center;
  font-size: 37px;
  line-height: 2.4;
  border-radius: 100%;
  color: #fff;
  transition: all 0.3s ease;
}


.form{
  display: flex;
  justify-content: center;
  padding-top: 77px;
}

.form select, .form input{
  min-width: 369px;
  min-height: 47px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-appearance: button;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin:0 12px;
  padding: 10px;
}

.sendBtn{
  display: flex;
  justify-content: center;
  padding-top: 44px;
  padding-bottom: 151px;
}
.submit{
  display: flex;
  justify-content: center;
  width: 369px;
  height: 47px;
  text-align: center;
  align-items: center;
  background: #43ABF0;
  border: 1px solid #FFFFFF;
  font-weight: normal;
  font-family: roboto;
  color: #fff;
  font-size: 15px;
  line-height: 18px;
  box-sizing: border-box;
  border-radius: 5px;
}

.fileInp{
  position: relative;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  padding-top: 32px; 
}

.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.input__file-icon-wrapper {
  height: 20px;
  width: 18px;
  display: flex;
  margin-right: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.input__file-button {
  width: 100%;
  max-width: 369px;
  height: 47px;
  background: #fff;
  color: #000;
  font-size: 15px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
}

.fileInp input{
  min-width: 369px;
  min-height: 47px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  padding: 10px;
}

.footer{
  width: 100%;
  background: #3D4050;
}

.lineInformation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.info, .pay, .contact{
  display: flex;
  justify-content: center;
  align-content: center;
  color: #fff;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.qiwi, .yandex, .webmoney, .mail, .vk{
  margin: 0 20px;
  display: flex;
  align-items: center;
}
.qiwi img, .yandex img, .webmoney img, .mail img, .vk img{
  margin-right: 5px;
}

.min_line{
  height: 20px;
  border: 1px solid #FFFFFF;
}


@media screen and (max-width: 1600px){
  .header__body{
    height: 70px;
  }
  .text__slider{
    top: 10%;
  }
}

@media screen and (max-width: 1300px){
  .text__slider{
    top: 6%;
  }
}

@media screen and (max-width: 1200px) {
  .title__slider{
    font-weight: bold;
    font-size: 38px;
    line-height: 64px;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
  .description__slider{
    font-size: 15px;
  }
  .form select, input{
  min-width: 280px;
  min-height: 47px;
  }
}

@media screen and (max-width: 1024px) {
  .title__slider{
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
  .description__slider{
    font-size: 15px;
  }
  .header__body{
    height: 70px;
  }
  .button__slider1, .button__slider2{
    margin: 20px 20px 0 0;
  }
}

@media screen and (max-width: 992px){
  .content{
    background-size: cover;
    min-height: 600px;
  }
  .header__body{
    height: 50px;
  }
  .text__slider{
  top: 6%;
  }

  .button__slider1, .button__slider2{
    margin: 20px 20px 0 0;
  }
}